/*-- Footer Styling --*/

.siteFooter{
    background-color: #495E57;
    color: #FFFFFF;
}

.siteFooter a:hover,
.siteFooter a:focus{
    color: #F4CE14;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 61.625rem;
    width: 90%;
}

.footerContainer a {
    color: #fff;
    transition: color .5s;
}

.footerLogo {
    grid-column: 1;
    min-width: 6rem;
    width: 6rem;
}

img {
    max-width: 100%;
}

.footerNav{
    grid-column: 2;
}

.footerNav ul, .footerContact ul {
    list-style-type: none;
}

.footerNav li, .footerContact li {
    margin-bottom: .25rem;
}

.footerNav h4, .footerContact h4, .footerSocial h4{
    letter-spacing: .1875rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footerContact {
    grid-column: 3;
}


.footerSocial {
    grid-column: 4;
}

.footerSocial a {
    padding-right: 0.5rem;
}


/*-- Media queries --*/
@media (max-width: 927px) {
    .footerContainer{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: auto auto;
    }

    .footerSocial {
        grid-column: 1;
        grid-row: 2;
        margin-top: 2rem;
    }
}

@media (max-width: 789px) {
    .footerContainer {
       grid-template-columns: auto auto;
    }

    .footerContact {
        grid-column: 1;
        grid-row: 2;
        margin-top: 2rem;
    }

    .footerSocial {
        grid-column: 2;
    }
}

@media (max-width: 576px) {
    .footerContainer {
        grid-template-columns: auto;
    }

    .footerLogo {
        grid-row: 1;
    }

    .footerNav {
        grid-column: 1;
        grid-row: 2;
        margin-top: 2rem;
    }

    .footerContact {
        grid-row: 3;
    }

    .footerSocial {
        grid-column: 1;
        grid-row: 4;
    }
}

