/*Bookings Styling*/

.bookings h2 {
  padding: 1.875rem 0 1.875rem 0;
  background-color: #495E57;
  color: #FFFFFF;
  text-align: center;
}

.bookings form {
    margin: 0 auto 1.875rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28.125rem;
  padding: 3rem 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.form-field label {
  font-weight: 700;
  cursor: pointer;
}

.form-field p{
  font-size: 0.9375rem;
  color: red;
}

#booking-date,
#booking-time,
#booking-number-guests,
#booking-occasion {
  background: #fff;
  border: .0625rem solid #e0e0e0;
  color: #495E57;
  height: 2.5rem;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.button-primary {
  background-color: #f4ce14;
  border: .1875rem solid #f4ce14;
  border-radius: 2rem;
  color: #495E57;
  font-weight: 700;
  padding: .5rem 1rem;
  transition: background, border, color .5s;
}

.button-primary:hover,
.button-primary:focus {
  color: white;
  background-color: #495E57;
  border: .1875rem solid #495E57;
}

.confirmed-booking {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #495E57;
  min-height: 31.25rem;
  padding: 1.875rem 0;
  text-align: center;
}
