/*Footer Styling*/

footer {
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	font-weight: 500;
    width: 100vw;
    height: auto;
    color: white;
}

.footerContainer {
    display: flex;
    padding: 20px;
    background-color: #495E57;
}

.footerlogo {
    padding-top: 2.1rem;

}

.footerHead {
    padding-bottom: 13px;
    padding-left: 30px;
    font-weight: 600;
}

.footerItem {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    padding-left: 30px;
}

.footerItem:hover {
    color: #F4CE14;
}

.footerNav,
.footerContact,
.footerSocial {
    padding: 20px;
    margin: 20px;
}

.social {
    color: white;
    padding-left: 30px;
    margin: 0;
}

.social:hover{
    color: #F4CE14;
}

/*Media Queries*/



