/* Hero Component Styling */

.hero {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  background-color: #495e57;
  padding-top: 1.875rem;
  gap: 3.5rem;
  position: relative; 
  overflow: visible; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 61.625rem;
  width: 90%;
}

.information {
  margin-bottom: 2rem;
}

h1 {
  color: #F4CE14;
}

h2 {
  color: white;
}

p {
  margin-top: 1.5rem;
  color: #FFFFFF;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #F4CE14;
  text-decoration: none;
  border: 0.1875rem solid #F4CE14;
  border-radius: 2rem;
  font-weight: 700;
  transition: background, border, color 0.5s;
}

.button:hover,
.button:focus {
  border-color: #F4CE14;
  background-color: #495E57;
  color: white;
}

.heroimg {
  border-radius: 1rem;
  grid-column: 2;
  height: 24rem;
  justify-self: end;
  position: absolute;
  bottom: -4.375rem;
  right: 5rem; 
  object-fit: cover;
  width: 32rem;
}

img {
  max-width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .container {
    align-items: center;
    text-align: left;
    padding: 1rem;
    width: 100%;
  }

  .information {
    margin-bottom: 1rem;
  }

  h1, h2, p {
    text-align: left;
  }

  .button {
    align-self: flex-start;
  }

  .heroimg {
    position: static; 
    margin-bottom: 1rem;
    width: 80%;
    height: 20rem;
  }
}
